<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O LEPEI COLONIO</title>
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<footer class="footer">
    <p>© 2024 Meu Site - Todos os direitos reservados</p>
</footer>
<body>
    <div class="container">
    <a href="/"><button href="/">Voltar</button></a>
    <h1>Voce poderá entrar com a gente por estes canais abaixo:</h1>
    <p>Telefone:55(10)12345-6789</p>
    <p>E-mail:teste@teste.com</p>
    <p>Siga a gente em nossas redes:</p>
</div>
</body>
</html>