<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erro 400</title>
        <style>
            body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
            h1 { color: red; }
        </style>
    </head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<body>
    <h1>Erro 404</h1>
    <p>Pagina não encontrada.</p>
    <a href="/">Voltar para a página inicial</a>
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p>Termos de uso</p>
    <p>Política de privacidade</p>
    <p>Sobre nós</p>
</footer>
</html>
