<!-- views/about.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O QUE É A LINGUGUAGEM C?</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<body>
    <div class="container">
        <a href="/"><button href="/">Voltar</button></a>
        <h1>O QUE É A LINGUGUAGEM C?</h1>
        <img src="/images/Hello_World.PNG">
        <p>A linguagem C é uma linguagem de programação desenvolvido para uso em diversos sistemas, a mesma é usada principalmnete em integraçãos entre software e hadrware dos mais diversos seguimentos da computação.</p>
        <p>Alguns dos pricipais pontos é Struct (Estruturas), Matrizes, Ponteiros e entre outros, bem como suas princiais bibliotecas como stdib.h, conio.h, math.h e outros, assim e outras funcionalidades especificas da linguagem...</p>
    </div>
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>
