<<<<<<< HEAD
<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<div class="container">
<body>
    <a href="/"><button href="/">Voltar</button></a>
    <h1>RELAÇÃO DO TEMPO</h1>
    <p>O caso do validador, por onde eu passei em um coletivo e na hora de passar na catraca estava 15:08 e no final, uma aluna de um colégio particular respondeu que era 15:30, bingo uma tríplice coroa…</p>
</div>    
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
=======
<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo</title>
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<div class="container">
<body>
    <a href="/"><button href="/">Voltar</button></a>
    <h1>RELAÇÃO DO TEMPO</h1>
    <p>O caso do validador, por onde eu passei em um coletivo e na hora de passar na catraca estava 15:08 e no final, uma aluna de um colégio particular respondeu que era 15:30, bingo uma tríplice coroa…</p>
</div>    
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p>Termos de uso</p>
    <p>Política de privacidade</p>
    <p>Sobre nós</p>
</footer>
>>>>>>> f6fc10868c10ae704d973a999382fcaf4a5de472
</html>