<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMO CRIAR UMA MAQUINA VIRTUAL DEBIAN?</title>
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<div class="container">
<body>
    <a href="/"><button href="/">Voltar</button></a>
    <h1>COMO CRIAR UMA MAQUINA VIRTUAL DEBIAN?</h1>
    <img src="/images/MaquinaVirtual.PNG" class="destaque-img">
    <p>Para criar uma maquina virtual Debian é necessario ter um VirtualBox instalado em sua maquina</p>
    <p>Para seguir o passo a passo completo deve clicar neste link <a href="https://drive.google.com/file/d/1YiEKqyBt3VKIx2jHaEERybGcZtMF4_oT/view?usp=drive_link">aqui</a></p>
</body>
</div>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>