<!-- views/about.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<body>
    <div class="container">
        <a href="/"><button href="/">Voltar</button></a>
        <h1>Uma visão por Jaguaribe Ariano de Almeida Portela Amorim será apresentado esta tarde no palacio</h1>
        
        <!-- Imagem adicionada -->
        <img src="/images/logo.png" alt="Logo da Empresa" class="logo">
        <img src="/images/vermelho.png" alt="Logo da Empresa" class="logo">
        
        <p>A apresentação ocorre logo mais as nove horas desta noite comm o objetido ce ter uma nova visão do pais e da nossa socieddade</p>
    </div>
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>
