<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVROS QUE CONTAM MINHA TRAJETÓRIA SERÃO LANÇADOS NA PRÓXIMA SEMANA</title>
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<div class="container">
<body>
    <a href="/"><button href="/">Voltar</button></a>
    <h1>LIVROS QUE CONTAM MINHA TRAJETÓRIA SERÃO LANÇADOS NA PRÓXIMA SEMANA</h1>
    <img src="/images/vermelho.png" class="destaque-img">
    <p>Imagem ilustrativa apenas</p>
    <p>Dois livros estarão sendo aprentados na próxima semana sem data definida contado a minha trajetória no ensino, o primeiro deles qeu corresponde aos anos de 2017 e 2019 faz parte do ensino medio e o segundo conta sobre os fatos exclusivamente da faculdade entre 2020 e 2023.</p>
    <p>Contudo em ambos, contarão curiosidades, bastidores, dramas, fatos inesquesiveis, e muitos outros delates da minha rotina e da minha visão de ver naquele tempo.</p>
    <p>No caso da Faculdade ddifernete de modelos anteriores ele conta apenas o que ocorreu durante as aulas, nos trabalhos e nos bastidores, e haverá um bonus que corresponde desde o fim da faculdade até a atualidade como legado principalmete de quem ainda está fazendo o curso.</p>
    <p>Em ambas as obras serão apenas cortesia, uma vez que não serão produzidos para evitar problemas externos, principalmnete ordens judiciais, apenas para exibir o drama do começo ao fim das minhas jornadas...</p>
</div>    
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>