<!-- views/contato.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTENDE COMO FUNCIONA UM PROJETO QUE ATENDE A LEGISLAÇÃO</title>
</head>
<nav class="navbar">
  <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
  <div class="nav-links">
      <a href="/" class="nav-item">Home</a>
      <a href="/sobre" class="nav-item">Sobre o nosso site</a>
      <a href="/contato" class="nav-item">Contato</a>
  </div>
</nav>
<body>
    <div class="container">
    <a href="/"><button href="/">Voltar</button></a>
    <h1>ENTENDE COMO FUNCIONA UM PROJETO QUE ATENDE A LEGISLAÇÃO</h1>
    <img src="/images/Hello_World.PNG">
    <p>Para saber mais sobre como eu fiz o projeto que atende as norma de segurança basta assitir o video <a href="https://drive.google.com/file/d/1036yfEBV44gJmHXI88R3UJiZW-d88_Db/view?usp=drive_link">a seguir cliclando aqui</a></p>
    <p>Tambem para saber mais sobre como eu fiz linha a linha <a href="https://github.com/PedroSilva201/Jogoteca">clique aqui</a></p>
    <p>Tambem existe uma apresentação sobre como que eu realizei este projeto <a href="https://drive.google.com/file/d/1O_A1G5PtR0-wPR3XdffaUlOvdvqg9kcA/view?usp=drive_link">observer aqui</a></p>
   </body>
</div>
<footer>
  <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
  <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
  <p><a href="/termosdeuso">Termos de uso</a></p>
  <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
  <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>