<!-- views/about.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar">
    <h1>COMO FUNCIONA A LINGUAGEM R?</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<body>
    <div class="container">
        <a href="/"><button href="/">Voltar</button></a>
        <h1>COMO FUNCIONA A LINGUAGEM R?</h1>
        <img src="/images/ProgramaemR.PNG">
        <p>A linguagem R assim como o Python é uma linguagem de programação voltada para Ciência de Dados para estudos de diferentes fenomemos matemáticos.</p>
        <p>Com um grau de semelhança indetico ao Python, ela pode gerar graficos e desenhos a partir de linhas de código como um mapa de calor, bem como blox plot usnado dados para ser represnetados em graficos.</p>
        </div>
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>
