<!-- views/about.ejs -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="style.css">
  </head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTENDA COMO FUNCIONA O BRANCH AND BOUND</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav class="navbar">
    <h1>SITE DO PEDRO - Sejam Bem-vindos ao Meu Site!</h1>
    <div class="nav-links">
        <a href="/" class="nav-item">Home</a>
        <a href="/sobre" class="nav-item">Sobre o nosso site</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<body>
    <div class="container">
        <a href="/"><button href="/">Voltar</button></a>
        <h1>ENTENDA COMO FUNCIONA O BRANCH AND BOUND</h1>
        <img src="/images/Branchandbound.PNG">
        <p>Um dos conteúdos mais dificeis na matemática e o Branch and Bound, traduzindo do inglês é cortar uma arvore, logo é uma das variantes da programação linear que correeponde a este estudo onde deve encontrar um ponto dentro do plano cartesiano para encontrar as coodernadas.</p>
        <p>Suposição, voce tem uma arvore e a mesma deverá ser podada para impedir uma trageida em sua casa, logo algunns galhos devem ser cotados para que a mesma continua viva, assim aquele galhos que focam próximos a rede eletrica são removidos, assim é basicamnete semelhante a esta lógica...</p>
    </div>
</body>
<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados</p>
    <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
    <p><a href="/termosdeuso">Termos de uso</a></p>
    <p><a href="/politicadeprivacidade">Politica de Privacidade</a></p>
    <p><a href="/sobre">Sobre nós</a></p>
</footer>
</html>
